# ----------------------------------------------------------------------------
# FaCT Data API URL
# ----------------------------------------------------------------------------
DATA_API_URL=http://localhost:8989

# ----------------------------------------------------------------------------
# Access URLs for Public pages
# ----------------------------------------------------------------------------
TEST_URL=https://localhost:3344

# ----------------------------------------------------------------------------
# Playwright settings
# ----------------------------------------------------------------------------
PLAYWRIGHT_REPORTERS=list,odhin
PLAYWRIGHT_VIDEO_MODE=retain-on-failure

# Set ENV=preview to limit the functional tests to Edge
# ENV=preview
