{% macro casesHeard(courtAreasOfLaw, text, language) %}
  <section id="cases-heard">
    <p class="govuk-body">{{ text.intro }}</p>
    {% set isWelsh = language == "cy" %}
    {% set nameField = "nameCy" if isWelsh else "name" %}
    {% set displayField = "displayNameCy" if isWelsh else "displayName" %}
    {% set linkField = "externalLinkCy" if isWelsh else "externalLink" %}
    {% set areas = [] %}
    {% for group in courtAreasOfLaw %}
      {% set areas = areas.concat(group.areasOfLaw) %}
    {% endfor %}
    {% set areas = areas | sort(attribute=nameField) %}
    {% if areas.length %}
      <ul class="govuk-list govuk-list--bullet">
        {% for area in areas %}
          {% set displayText = area[displayField] if area[displayField] and area[displayField] | trim else area[nameField] %}
          {% if isWelsh and (not displayText or not (displayText | trim)) %}
            {% set displayText = area.displayName if area.displayName and area.displayName | trim else area.name %}
          {% endif %}
          {% set link = area[linkField] if area[linkField] and area[linkField] | trim else area.externalLink %}
          <li>
            {% if link %}
              <a class="govuk-link" href="{{ link }}" rel="noreferrer noopener" target="_blank">
                {{ displayText }} {{ text.opensInNewTab }}
              </a>
            {% else %}
              {{ displayText }}
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </section>
{% endmacro %}
