{% extends "template.njk" %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}

{% from "components/addresses.njk" import addresses as renderAddresses %}
{% from "components/opening-hours.njk" import openingHours as renderOpeningHours %}
{% from "components/useful-information.njk" import usefulInformation as renderUsefulInformation %}
{% from "components/translation-interpretation.njk" import translationInterpretation as renderTranslationInterpretation %}

{% set makeAComplaintHtml %}
  <p class="govuk-body">
    <a href="{{ accordion.makeAComplaintUrl }}"
       class="govuk-link govuk-link--no-visited-state"
       rel="noreferrer noopener"
       target="_blank">
      {{ accordion.makeAComplaintUrlText }}
    </a>
  </p>
{% endset %}

{% set translationHtml %}
  {{ renderTranslationInterpretation(court, translationAndInterpretation) }}
{% endset %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l govuk-!-margin-bottom-2">{{ court.name }}</h1>
      <p class="govuk-body-s">{{ pageLastReviewed }} {{ court.lastUpdatedAt }}</p>

      {% if court.warningNotice %}
        {{ govukWarningText({
          text: court.warningNotice,
          iconFallbackText: "Warning"
        }) }}
      {% endif %}
      <hr class="govuk-section-break govuk-section-break--m">

      {{ renderAddresses(court.courtAddresses, addresses) }}
      <hr class="govuk-section-break govuk-section-break--m">
      {{ renderOpeningHours(court.openingHoursByType, openingHours) }}

      {% if court.courtPhotos and court.courtPhotos.length %}
        <hr class="govuk-section-break govuk-section-break--m">
        <img class="govuk-!-margin-top-4" src="{{ court.courtPhotos[0].fileLink }}" alt="{{ court.name }}">
        <p class="govuk-body-s">{{ court.name }}</p>
      {% endif %}
      <hr class="govuk-section-break govuk-section-break--m">
      {{ renderUsefulInformation(usefulInformation) }}
      <hr class="govuk-section-break govuk-section-break--m">

      {{ govukAccordion({
        id: "court-details-accordion",
        items: [
          {
            heading: { text: accordion.contactDetailsHeading },
            expanded: false,
            content: { html: '<p class="govuk-body">hello 1</p>' }
          },
          {
            heading: { text: accordion.casesHeardHeading },
            expanded: false,
            content: { html: '<p class="govuk-body">hello 2</p>' }
          },
          {
            heading: { text: accordion.translationAndInterpretationHeading },
            expanded: false,
            content: { html: translationHtml }
          },
          {
            heading: { text: accordion.accessibilityHeading },
            expanded: false,
            content: { html: '<p class="govuk-body">hello 4</p>' }
          },
          {
            heading: { text: accordion.buildingFacilitiesHeading },
            expanded: false,
            content: { html: '<p class="govuk-body">hello 5</p>' }
          },
          {
            heading: { text: accordion.informationForProfessionalsHeading },
            expanded: false,
            content: { html: '<p class="govuk-body">hello 6</p>' }
          },
          {
            heading: { text: accordion.makeAComplaintHeading },
            expanded: false,
            content: { html: makeAComplaintHtml }
          }
        ]
      }) }}
    </div>
  </div>
{% endblock %}
