{% extends "govuk/template.njk" %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% block head %}
  {# TODO: GA and DT etc #}
  {% include "webpack/css.njk" %}
{% endblock %}

{% block header %}
  {{ govukHeader({
    containerClasses: "govuk-width-container",
    serviceName: serviceName
  }) }}
{% endblock %}


{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: feedback + languageToggle
  }) }}
{% endblock %}


{% block footer %}
  {{ govukFooter({
    meta: {
      items: footerLinks
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  {% include "webpack/js.njk" %}
{% endblock %}
