{% extends "govuk/template.njk" %}
{% from "govuk/components/header/macro.njk" import govukHeader %}


{% block head %}
  {# TODO: GA and DT etc #}
  {% include "webpack/css.njk" %}
{% endblock %}

{% block header %}
  {{ govukHeader({
    containerClasses: "govuk-width-container",
    serviceName: "Find a Court or Tribunal"
  }) }}
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  {% include "webpack/js.njk" %}
{% endblock %}
