{% extends "govuk/template.njk" %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}
{% from "./components/back-link.njk" import goBack %}

{% block pageTitle %}{{ pageTitle }}{% endblock %}

{% block head %}
  {# Queue denied defaults before the consent bundle can load either vendor. #}
  <script {%- if cspNonce %} nonce="{{ cspNonce }}"{% endif %}>
    window.dataLayer = window.dataLayer || [];
    window.gtag = function () { window.dataLayer.push(arguments); };
    window.gtag('consent', 'default', {
      analytics_storage: 'denied',
      ad_storage: 'denied',
      ad_user_data: 'denied',
      ad_personalization: 'denied'
    });
  </script>
  {# Keep the Dynatrace URL inert until APM consent allows script insertion. #}
  <meta name="dynatrace-jstag" content="{{ jstag }}">

  {% include "webpack/css.njk" %}
{% endblock %}

{% block header %}

  {% set html %}
    <p class="govuk-body">{{ cookieBannerP1 | safe }}</p>
    <p class="govuk-body">{{ cookieBannerP2 }}</p>
  {% endset %}

  {% set acceptHtml %}
    <p class="govuk-body">You’ve accepted additional cookies. You can <a class="govuk-link" href="/cookies">change your cookie settings</a> at any time.</p>
  {% endset %}

  {% set rejectHtml %}
    <p class="govuk-body">You’ve rejected additional cookies. You can <a class="govuk-link" href="/cookies">change your cookie settings</a> at any time.</p>
  {% endset %}

  {{ govukCookieBanner({
    classes: 'cookie-banner',
    ariaLabel: cookieBannerH1,
    hidden: true,
    messages: [
      {
        classes: 'cookie-banner-message',
        headingText: cookieBannerH1,
        html: html,
        actions: [
        {
          classes: 'cookie-banner-accept-button',
          text: cookieBannerAcceptButton,
          type: "button"
        },
        {
          classes: 'cookie-banner-reject-button',
          text: cookieBannerRejectButton,
          type: "button"
        },
        {
          text: cookieBannerViewCookies,
          href: "/cookies"
        }
      ]
      },
      {
        classes: 'cookie-banner-accept-message',
        html: acceptHtml,
        role: "alert",
        hidden: true,
        actions: [
        {
          classes: 'cookie-banner-hide-button',
          text: cookieBannerHideButton
        }
      ]
      },
      {
        classes: 'cookie-banner-reject-message',
        html: rejectHtml,
        role: "alert",
        hidden: true,
        actions: [
        {
          classes: 'cookie-banner-hide-button',
          text: cookieBannerHideButton
        }
      ]
      }
    ]
  }) }}

  {{ govukHeader({
    containerClasses: "govuk-width-container"
  }) }}

  {{ govukServiceNavigation({
    serviceName: serviceName | safe,
    serviceUrl: (globals.basePath if globals.basePath) + "/"
  }) }}

{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: feedback + languageToggle
  }) }}
  {% if not hideBackLink %}
    {{ goBack(text = backLink, cspNonce = cspNonce) }}
  {% endif %}
{% endblock %}


{% block footer %}
  {{ govukFooter({
    meta: {
      items: footerLinks
    },
    contentLicence: contentLicence,
    copyright: copyright
  }) }}
{% endblock %}


{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  {% include "webpack/js.njk" %}
{% endblock %}
